template(name="navbar")
  nav.navbar.navbar-light.bg-faded
    ul.nav.navbar-nav
      li.nav-item.active
        a.nav-link(href='#')
          | UXBCN
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Features
      li.nav-item
        a.nav-link(href='#') Pricing
      li.nav-item
        a.nav-link(href='#') About
