template(name="signup")
  form.form-inline.m-y-lg
    .form-group
      label.sr-only(for='exampleInputEmail2') Email
      input#exampleInputEmail2.form-control(type='email', placeholder='jane.doe@example.com')
    button.btn.btn-primary(type='submit') Send invitation
